@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-8 {
    width: 66.6666%;
    padding: 0 15px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background: url("https://images.unsplash.com/photo-1631031651060-424d82e511de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80") no-repeat center/cover;
}

.hero {
    height: 100%;
    margin: -40px 0;
}

.news__box {
    margin: 15px 0;
}

.news__img {

}

.news__title {

}

.news__item__title {

}

.news__item__desc {
    margin: 20px 0;
}

.news__item__author {

}

.news__item__date {

}

.news__comments {
    padding: 60px 0 20px;
}

.news__comments__title {

}

.news__comments__item {
    margin: 30px 0;
}

.news__comments__info {
    margin-bottom: 10px;
}

.news__comments__author {
    font-weight: bold;
    margin-right: 10px;
}

.news__comments__date {

}

.news__comments__content {

}

.news__comments__message {

}

.news__comments__textarea {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #AFAFAF;
    min-width: 100%;
    background: #F8F8F8;
    border-radius: 10px;
    border: none;
}

.news__comments__btn {
    background: #C4C4C4;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    display: block;
}